<html>
  <head>
    <!-- Your head content, such as title, CSS, or other meta tags, goes here -->
  </head>
  <body>
    <div style="text-align: center">
      <h1>Welcome to Combined Todo & Task Management App!</h1>
      <nav>
        <a routerLink="/todo-list" routerLinkActive="active">To-Do List</a>
        <a routerLink="/task-management" routerLinkActive="active"
          >Task Management</a
        >
      </nav>
      <!-- <button (click)="toggleComponent()">
        Switch to {{ showComponent ? "Task Management" : "To-Do List" }}
      </button> -->
    </div>
    <router-outlet></router-outlet>

    <!-- Your other content goes here -->
  </body>
</html>
